.PersonalDetailsForm {

    /* כללי */
// .container {
//     max-width: 600px;
//     margin: auto;
//     // padding: 40px;
//     // border-radius: 15px;
//     // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
//     // background-color: #f9f9f9;
//   }
  
  h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  h3 {
    text-align: center;
    color: #2980b9;
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  
  label {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 10px;
    display: block;
  }
  
  /* שדות קלט */
  .input-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: #ddd;
    margin-bottom: 20px;
  }
  
  .input-mask {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: #ddd;
    margin-bottom: 20px;
  }
  
  /* כפתור תשלום */
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* iframe */
//   iframe {
//     width: 100%;
//     height: 450px;
//     border: none;
//     border-radius: 10px;
//     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
//     margin-top: 20px;
//   }
  
  /* אזור כפתור תשלום */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  /* עיצוב כפתור */
  .p-button-success {
    background-color: #27ae60;
    border-color: #27ae60;
  }
  
  .p-button-success:hover {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
  
  
}