// /* src/components/DonationCart.scss */
// .donation-cart-container {
//     padding: 20px;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     max-width: 400px;
//     margin: 20px auto;
//     background-color: #f9f9f9;
//   }
  
//   .cart-items {
//     list-style-type: none;
//     padding: 0;
//   }
  
//   .cart-items li {
//     padding: 5px 0;
//     font-size: 16px;
//   }
  
//   .clear-cart-button {
//     margin-top: 20px;
//     background-color: #ff6347;
//     border: none;
//     color: white;
//   }
.cart-dialog {
    width: 400px; /* גודל החלון */
    padding: 20px;
  }
  
  .cart-items {
    max-height: 300px; /* גובה מקסימלי עבור רשימת הפריטים */
    overflow-y: auto;
  }
  
  .cart-item-card {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .delete-item-button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
  }
  
  .cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .clear-cart-button,
  .checkout-button {
    width: 45%;
  }
  
  .clear-cart-button {
    background-color: #f44336; /* צבע אדום למחיקת סל */
  }
  
  .checkout-button {
    background-color: #4caf50; /* צבע ירוק לכפתור תשלום */
  }
  