// 
// Announcement.scss

// Announcement.scss
$secondary-color: #f1f5f9;
$text-color: #374151;
$highlight-color: rgba(225, 211, 182, 255);
$blue-color: #66a499;
$border-radius: 10px;

.announcement-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 9999;
    width: 80%;
    max-width: 500px;
    animation: fadeIn 0.5s ease-out;
}

.announcement-card {
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

.announcement-card h2 {
    font-size: 1.8rem;
    color: $text-color;
    font-weight: bold;
    margin-bottom: 10px;
}

.announcement-card p {
    font-size: 1.2rem;
    color: $text-color;
    margin-bottom: 20px;
}

.announcement-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.announcement-button {
    background-color: $blue-color;
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.announcement-button:hover {
    background-color: #4d7b6d;
    transform: translateY(-3px);
}

.close-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #e74c3c;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}


.close-button:hover {
    background-color: #c0392b;
    transform: translateY(-3px);
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }